---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  />
	</head>
	<body>
		
		<h1>Sahil Chourasiya</h1>
		<footer>
			<a href="https://github.com/sahilch-dev"><i class='fa-brands fa-github' style='font-size:20px'></i></a>
			<a href="https://linkedin.com/in/sahil-chourasiya">Linkedin</a>
			<a href="mailto:sahil.chourasiya160@gmail.com"></a>
		</footer>
	</body>
</html>
