---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description, image} = Astro.props;
---

<html lang="en">
	<head>
		<!-- Global Metadata -->
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- Font preloads -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		/>

		<BaseHead title={title} description={description} image={image}/>
	</head>
	<body>
		<nav>
			<div class="logo"><a href="/">Sahil Chourasiya</a></div>
		</nav>
		<slot />
	</body>
</html>
